@import './base.css';

#app {
  overflow: hidden;
  min-height: 100vh;
  margin: 0 0;
  padding: 0 0;
  font-weight: normal;
}

.main{
  min-height: 100vh;
}
.nav{
  display: flex;
  height: 4rem;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}
.logo{
  height: 3rem;
  object-fit: contain;
  font-size: 2rem;
}
.route{
  width: 20vw;
  justify-content: space-around;
}


a{
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
