@import '@assets/base.css';

/* #app {
  font-weight: normal;
  height: 100vh;
  height: calc(var(--vh) * 100);
  width: 100%;
} */
/*移动设备兼容*/

.scene{
  background: transparent;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh) * 100);
}

/* @media  媒体查询 todo*/

.nav-height {
  height: 4rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 100;
  background-color: transparent;
}

.logo {
  height: 3rem;
  font-size: 2rem;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-filter: drop-shadow(.1rem .1rem .1rem rgba(200, 25, 95, 0.25));
  filter: drop-shadow(.1rem .1rem .1rem rgba(200, 25, 95, 0.25));
}

.n-layout-footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  background: rgba(128, 128, 128, 0.2);
}

.n-layout-footer>span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.n-layout-scroll-container {
  background: transparent;
}

a {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */